@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Poppins&family=Titillium+Web:wght@300&display=swap');
:root {
  --color-background: #F2EAE2;
  --color-white: #FFF;

  --color-heading: #191E24;
  --color-text: #898A91;

  --color-primary: #3D8069;

  --font-family-sans-serif-1: 'Poppins', sans-serif;
  --font-family-sans-serif-2: 'Titillium Web', sans-serif;
  --font-family-serif: 'Playfair Display', serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-family-sans-serif-1);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
