@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --color-white: #FFF;

  --text-heading: hsl(234, 29%, 20%);
  --text-body: hsl(235, 18%, 26%);
  --text-gray: hsl(231, 7%, 60%);

  --color-tomato: hsl(4, 100%, 67%);

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--text-body);
  background: var(--color-white);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
